
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!.editorconfig
!.eslintrc.json
!.gitattributes
!.gitignore
!README.md
!/test
!/package.json
!/protractor.conf.js


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
screenshots
